@font-face {
  font-family: 'NicoMoji';
  src: url('../assets/NicoMoji-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
  font-family: 'Montserrat', 'NicoMoji';
  font-size: 18px;
  line-height: 160%;
  font-weight: 500;
  height: 100%;

  color-scheme: light dark;
  color: #B2B7D0;
  background-color: #27252A;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

[class*="-container"] {
  max-width: 1292px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media only screen and (max-width: 1087px) {
  [class*="-container"] {
      max-width: 970px;
  }

  .main-container {
    gap: 3rem;
  }
}
@media only screen and (max-width: 991.98px) {
  [class*="-container"] {
      max-width: 850px;
  }

  .main-container {
    gap: 3rem;
  }
}


/* hEADER  */

header {
  height: 100vh;
  width: 100%;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  margin-top: 6rem;
}

.main-container {
  display: flex;
  gap: 6rem;
  flex-direction: column;
}

[class*="-heading__subhead"] {
  margin-bottom: 1rem;

  font-size: 1.2rem;
  font-weight: 500;
  
  line-height: 1;

  color: #fff;
}

[class*="-heading__head"] {
  margin-bottom: 2rem;

  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1;
}

.intro-text {
  display: flex;
  gap: 1rem;
}

.intro-text__left,
.intro-text__right {
  width: 50%;
}

.nuclear-img {
  width: 100%;
  height: auto;
}

#map,
#map2,
#map3,
#map4 {
  width: 100%;
  height: 600px;
  position: relative;
}

.legend {
  position: absolute;
  top: .7rem;
  left: .7rem;
  background-color: #000b3f;

  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  /* width: 100px; */
  padding: 1rem; /* Adjust as needed */
}

.legend span {
  width: 15px; /* Diameter of the circle */
  height: 15px; /* Diameter of the circle */
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between circles */
}

.legend-1,
.legend-2,
.legend-3,
.legend-4,
.legend-5,
.legend-6,
.legend-7,
.legend-8,
.legend-9 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.legend-6 span,
.legend-7 span {
  width: 15px; /* Length of the line */
  height: 2px; /* Thickness of the line */
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between line and circles */
  background-color: #b80028; /* Color of the line */
  border-radius: 0%;
}

.legend-7 span {
  background-color: #000;
}

.legend-8 span.cross {
  height: 0;
}

.legend-8 span.cross::before,
.legend-8 span.cross::after {
  content: '';
  position: absolute;
  width: 15px; /* Length of the cross arms */
  height: 2px; /* Thickness of the cross arms */
  background-color: #000; /* Color of the cross arms */
}

.legend-8 span.cross::before {
  transform: rotate(45deg);
}

.legend-8 span.cross::after {
  transform: rotate(-45deg);
}


/* You can customize the colors as needed */
.legend-1 span:nth-child(1) { background-color: #00e3e7; }
.legend-2 span:nth-child(1) { background-color: #e7000c; }
.legend-3 span:nth-child(1) { background-color: #ffff5c; }
.legend-4 span:nth-child(1) { background-color: #000; }
.legend-5 span:nth-child(1) { background-color: #80ff5c; }

.legend-1 .white {
  background-color: #fff !important;
}

.legend-6 .blue {
  background-color: blue !important;
}

.legend-1 .green {
  background-color: #80ff5c;
}

.legend-1 .yellow {
  background-color: #ffff5c;
}

.legend-9 span {
  border-radius: 0;
  background: #0db2d3;
}

.legend-9 .grad {
  background: linear-gradient(to right, #5b1e62, #851e5a, #cb1b4f, #e97c16, #f6ac84, #faebdd);
}

.grad-desc {
  font-size: 10px;
  opacity: .5;
  padding-left: 4px;
}

.divider__text {
  display: flex;
  justify-content: space-between;
  font-family: 'NicoMoji';
  width: 100%;

  position: relative;

  margin: 103px auto;
}

.divider__text::after {
  content: "";
  width: 100%;
  height: 1px;
  top: -72px;
  left: 0;

  position: absolute;

  background: linear-gradient(to right, transparent 0%, #6E0DFF 50%, transparent 100%);
}

.divider__text::before{
  content: "";
  width: 100%;
  height: 1px;
  top: 100px;
  left: 0;

  position: absolute;

  background: linear-gradient(to right, transparent 0%, #6E0DFF 50%, transparent 100%);

}

.divider-solar::after,
.divider-solar::before {
  background: linear-gradient(to right, transparent 0%, #E6D32B 50%, transparent 100%);
}

.divider-wind::after,
.divider-wind::before {
  background: linear-gradient(to right, transparent 0%, #A3CBF8 50%, transparent 100%);
}

.divider-hydro::after,
.divider-hydro::before {
  background: linear-gradient(to right, transparent 0%, #0029FF 50%, transparent 100%);
}

.divider__dg {
  font-size: 3.5rem;
  font-family: inherit;

  margin-left: 10rem;

  color: #fff;
}

.divider__fact {
  font-size: 1.5rem;
  font-family: inherit;

  margin-right: 10rem;

  color: #fff;
}

.issue-text {
}

.text-highlight {
  color: #6E0DFF
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-bottom-color: #000b3f !important;
  border-top-color: #000b3f !important;
}

.mapboxgl-popup-content
 {
  background-color: #000b3f !important;
}

tspan {
  fill: rgb(255, 255, 255) !important;
}

.chart {
  display: flex;
  flex-direction: column;
}

.current {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.charts {
  display: flex;
}
.charts > * {
  width: 33%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#container {
  /* width: 100%; */
}


.anychart-credits {
  display: none;
}

.transition-bg {
  /* background-image: url(../assets/img/ren-bg.png); */
  background: url(../assets/img/ren-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1920px;
  height: 1080px;
  margin: 5rem auto;
}

.solar-heading__subhead span {
  color: #E6D32B;
}

.solar-heading__head {
  color: #E6D32B;
}

.solar-info {
  display: flex;
}

.solar-text {
  width: 40%;
  padding-right: 1rem;
}

.solar-map {
  width: 60%;
}

.wind-heading__subhead span {
  color: #A3CBF8;
}

.wind-heading__head {
  color: #A3CBF8;
}

.wind-info {
  display: flex;
}

.wind-text {
  width: 40%;
  padding-right: 1rem;
}

.wind-map {
  width: 60%;
}

.hydro-heading__subhead span {
  color: #0029FF;
}

.hydro-heading__head {
  color: #0029FF;
}

.hydro-info {
  display: flex;
}

.hydro-text {
  width: 40%;
  padding-right: 1rem;
}

.hydro-map {
  width: 60%;
}

.hydro-text__li {
  color: #0029FF;
  margin: 0.5rem 0;
}

.footer {
  padding: 5rem 0;
  background: linear-gradient(to bottom, #27252A, #16092A);
}

.footer-container {
  display: flex;

  font-weight: 300;
  font-size: 0.7rem;

  font-family: 'Courier New', Courier, monospace;
}

.footer-author {
  width: 50%;
  margin-right: 1rem;
}

.footer-sources {
  width: 50%;
}

.footer-author__head {
  font-weight: bold;
  font-size: 0.9rem;

  margin-top: 1rem;
  color: #Fff;
}




@media only screen and (max-width: 1087px) {
  [class*="-container"] {
      max-width: 970px;
  }

  .main-container {
    gap: 3rem;
  }
}
@media only screen and (max-width: 991.98px) {
  [class*="-container"] {
      max-width: 850px;
      padding: 0 .5rem;
  }

  .main-container {
    gap: 3rem;
  }

  [class*="-heading__subhead"] {
    margin-bottom: .75rem;
  
    font-size: 1rem;
    font-weight: 500;
    
    line-height: 1;
  
    color: #fff;
  }
  
  [class*="-heading__head"] {
    margin-bottom: 1.5rem;
  
    font-size: 2rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.2;
  }

  .divider__text {
    margin: 40px auto;
    gap: 1.5rem;
  }
  .divider__text::after {
    top: -61px;
  }

  .divider__text::before {
    top: 125px;
  }

  .divider__dg {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .divider__fact {
    font-size: 1rem;
    margin-right: 0;
  }

  .charts {
    flex-direction: column;
  }

  .charts > * {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .solar-info,
  .wind-info,
  .hydro-info {
    flex-direction: column;
  }

  .solar-text,
  .wind-text,
  .hydro-text {
    width: 100%;
    padding-bottom: 1.4rem;
  }
  
  .solar-map,
  .wind-map,
  .hydro-map {
    width: 100%;
  }

  .divider__text::before {
    top: 60px;
  }

  .divider__text::after {
    top: -30px;
  }
}


/* Default styles for larger screens */


.splide__slide img {
  width: 100%; /* Make the images fill the entire width of the container */
  height: 100%; /* Maintain the aspect ratio of the images */
  object-fit: cover; /* Ensure the images cover the entire slide */
}

/* Media query for smaller screens (e.g., phones) */
@media screen and (max-width: 767px) {
  .splide__slide img {
    object-fit: scale-down; /* Ensure the images cover the entire slide */
  }
}